

<META http-equiv="refresh" content="1;URL=http://www.divinobarbearia.com.br/divino_barbearia/pages/login.html"> 

    <script language="JavaScript"> 
        window.location="http://www.divinobarbearia.com.br/divino_barbearia/pages/login.html"; 
    </script> 

    <noscript> 
        Se não for direcionado automaticamente, clique <a href="http://www.divinobarbearia.com.br/divino_barbearia/pages/login.html">aqui</a>. 
    </noscript>