/* ==========================================================================
Author's custom styles
========================================================================== */

#resultado p{

    text-align: center;
    color:#bc9355;
}

#resultado span{

    text-align: center;

}


.informecliente{
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;

}

.selecionecliente{
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;

}

.servico{
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;

}

.profisisonal{
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;

}

.campoagendamento{
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;

}

/* The alert message box */
.selecioneproduto {
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.semprodutoestoque {
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.estoqueminimo {
    position: absolute;
    z-index: 100000;
    top: 10%;
    left: 85%;
    width: 10%;
    display: none;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 

body{
    width: 100%;
    height: 100%;

}

textarea,
input[type] {
    height: 32px
}

input[type]:not([type=search]):not([type=url]):not([type=hidden]) {

}

#fixed{
    position: fixed;
}

.navbar-header{
    float: left;
}
.navbar-inverse{
    opacity: 0.8;

}

#bemvindo{
    color:white;
}

#nome{
    color:white;
}

/*relatorio*/


#conteudo2 h2{
    color: #bc9355;

    text-align: center;

}

#conteudo2 hr{
    border-top: 1px solid #bc9355
}
#conteudo2  h3{
    font-size: 16px;

}

#titulo h3{
    font-size: 22px;
    color:#bc9355;
}
#conteudo2 input{
    margin-top: 10px;
    color: #bc9355;
    border: 1px solid #bc9355;
    border-radius: 0px;
    text-align: center;
    background: none !important; 
}

#conteudo2 select{
    margin-top: 10px;
    color: #bc9355;
    border: 1px solid #bc9355;
    border-radius: 0px;
    text-align: center;
    background: none !important; 
}


#conteudo2 p{
    margin-top: 10px;
    color: #bc9355;

    text-align: center;

}

#conteudo2 .col-md-2{
    padding: 0;
}

#conteudo2 .col-md-1{
    padding: 0;
}




#resultado .col-md-2{
    padding: 0px;
}

#border_relatorio{
    border: 1px solid #bc9355;

    margin-bottom: 3px;
}

#border-bottom{
    border-bottom: 1px solid #bc9355;


}

#border_relatorio .col-md-3{
    padding: 0px;
}

#border_relatorio p{
    margin: 0px 0px 0px 0px;
    text-align: left;
}

#border_relatorios2{
    border: 1px solid #bc9355;

    margin-bottom: 15px;
}

#border_relatorios2 p{
    margin: 0px 0px 0px 0px;
    text-align: left;

}


/*

color: #bc9355;
border: 1px solid #bc9355;
border-radius: 0px;
text-align: center;
background: none !important;
*/



/*ferramentas*/

.ferramentas-conteudo{
    margin-bottom: 50%;
}

#dash p{

    color:#c3c3c3;
}

#ferramentas_p{
    color: #fff;
    font-size: 36px;
}

#unidade{
    position: absolute;
    font-size: 22px;
    top: 75%;
    left: 3%;
    margin-right:3%;
    z-index: 11;
    text-align: center;
    color: #bc9355;
}

#unidadebox{
    position: absolute;
    top: 75%;
    left: 11%;
    z-index: 11;
    text-align: center;
}

#unidadebox option{

    text-align: center;
}
/*fundo index */


.jumbotronindex {

    height: 100%;
    width:100%;
    position: fixed;

    color: inherit;
    background-image:url(../img/barber-1979440_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0,0,0,1.0);  


}

.jumbotronindex::before {
    content:"";
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

@font-face {
    font-family: moonshiner;
    src: url(fonts/Moonshiner-Sharp.otf);
}

.jumbotronindex h1,
.jumbotronindex .h1 {
    font-family: moonshiner;
    display: block;
    position: relative;
    margin-top: 25%;
    margin-left: 25%;
    z-index: 12;
    color: #bc9355;
    font-size: 55px;
    line-height: 33px;
    text-transform: uppercase;
    color: #bc9355;


}


.jumbotronindex h2,
.jumbotronindex .h2 {
    display: block;
    position: relative;
    margin-top: 1%;
    margin-left: 18%;
    z-index: 11;

    margin-bottom: 15px;
    font-size: 30px;

    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;

}



.jumbotronindex p {
    display: block;
    position: relative;
    margin-top: 1%;

    height: 80px;
    border-radius: 5px;
    border-color: #bc9355;
    border:solid 1px;
    margin-left: 40%;

    z-index: 11;
    text-align: center;
    color: #bc9355;
    font-size: 23px;
    line-height: 1.4em;
    margin-bottom: 30px;
    padding: 0.5%;
    width: 20%;
}


.jumbotronindex img {
    display: block;
    position: relative;
    margin-top: 5%;
    margin-left: 43%;
    z-index: 12;
    color: #bc9355;
    font-size: 55px;
    line-height: 33px;
    text-transform: uppercase;
    color: #bc9355;

}

/*fundo ferramentas*/



.jumbotron {
    top: 0;
    left: 0;
    display: block;
    height: 400px;
    position: relative;
    color: inherit;
    background-image:url(../img/barber-1979440_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0,0,0,1.0);  



}

.jumbotron::before {
    content:"";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}



.jumbotron h1,
.jumbotron .h1 {
    z-index: 11;
    color: #bc9355;
    font-size: 33px;
    line-height: 33px;
    text-transform: uppercase;
    color: #f3f3f3;

}


.jumbotron h2,
.jumbotron .h2 {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 11;
    text-align: center;
    margin-bottom: 15px;
    font-size: 60px;
    font-family: "Playfair Display", serif;
    line-height: 24px;
    color: #bc9355;
    text-transform: uppercase;
    margin-bottom: 20px;

}



.jumbotron p {
    position: absolute;
    top: 48%;
    left: 35%;
    z-index: 11;
    text-align: center;
    color: #bc9355;
    font-size: 13px;
    line-height: 1.4em;
    margin-bottom: 30px;
}



/*menu*/

.navbar {
    height: 80px;

}



.navbar-brand{

    margin-top: 2%;
    padding: 20px 0px 10px 5px;
    margin-left:100px;

}

.navbar-brand{
    margin-right: 0px;
    margin-left:20%;
    margin-right:0%;

}

#logout{
    margin-left: 10px;
    margin-top: 4.5%;
}

#login{

    margin-top: 5%;
}

.form-group #usuario{

    margin-top: 10%;
}

.form-group #password{

    margin-top: 10%;
}
.navbar-form{

    margin: 0px;
}

/*fim menu*/




/*spinner loading*/
#loading {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    display: block;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}


#loading-image {
    position: absolute;
    top: 35%;
    left: 42.5%;
    z-index: 600;
}

/*fim spinner loading*/


/*imprimir*/

@media print {

    @import "bootstrap.css";
    @import "../js/vendor/bootstrap.min.js";



    #conteudo4{

        display:none;
    }



    #conteudo1 {
        display:none;
    }

    #conteudo2 {
        display:none;
    }

    #imprimir{

        display:none;
    }


    body {
        padding:0px;
    }


    #resultado{
        text-align: center;
    }
}

/*fim imprimir*/


/*relatorio */

#conteudo1 p{
    color:white;
    font-size: 36px;
}

table hr{
    margin: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 0px;
}

/*fim relatorio*/


/*dashboard*/
.cadastro .col-md-4{
    margin-top: 1%;
    padding-left: 1%;

}

.cadastro a:hover {

    color:black; 
    text-decoration: none;

}

.cadastro a{ 

    margin-top: 50%;
    color:#bc9355; 
    text-decoration: none;

}

.cadastro a{ 

    margin-top: 50%;
    color:#bc9355; 
    text-decoration: none;

}

.cadastro{ 

    margin-top: 5%;

}


.fundo {
    padding: 10% 5% 5% 10%;
    text-decoration: none;
    background-color: #bc9355;
    border:solid 1px;
    border-color: #fff;
    text-align: center;
    margin-top: 0.25%;
    color:#fff;
    font-size: 17px;

}



.fundo:hover {

    text-decoration: none;
    color:#bc9355;


    background-color: #fff;



    border:solid 1px;
    border-color: #bc9355;

}

/*fim dashboard*/


/*botoes*/

.btn-default {

    text-shadow: none;
}


#agendamentos{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;

}

#agendamentos:hover {
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-color: #bc9355;

}

#profissionais{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;

}

#profissionais:hover {
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-color: #bc9355;

}

#total{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;

}

#total:hover {
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-color: #bc9355;

}

#clientes{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;

}

#clientes:hover {
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-color: #bc9355;

}

/* cadastro*/

#cadastro_p{
    color: #fff;
    font-size: 36px;


}

#cadastros_link{
    padding-top :15px;
    margin-top: 10%;
    height: 200px;
    width: 85%;
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-radius: 0;

}

#cadastros_link:hover{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;


}

#cadastros_link #img2{
    display: none;

}

#cadastros_link:hover #img1{
    display: none;


}

#cadastros_link:hover #img2{
    display: block;
    text-align: center;
    margin-left: 40%;


}

/* agendamento */

#agendamentos_link{
    padding-top :15px;
    margin-top: 10%;
    width: 85%;
    height: 200px;
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-radius: 0;


}

#agendamentos_link:hover{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;


}
#agendamentos_link #img2{
    display: none;

}

#agendamentos_link:hover #img1{
    display: none;

}

#agendamentos_link:hover #img2{
    display: block;
    margin-left: 40%;

}


/*relatorio */

#relatorios_link{
    padding-top :15px;
    margin-top: 10%;
    width: 85%;
    height: 200px;
    text-decoration: none !important;
    color:#fff;
    background-color:#bc9355;
    border-radius: 0;

}

#relatorios_link:hover{
    text-decoration: none !important;
    color:#bc9355;
    background-color:#fff;
    border-color: #bc9355;



}


#relatorios_link #img2{
    display: none;

}

#relatorios_link:hover #img1{
    display: none;

}

#relatorios_link:hover #img2{
    display: block;
    margin-left: 40%;
}


/*fim botoes*/



/*.ui-front {*/
/*z-index: 3 !important;*/
/*}*/

/*.ui-dialog {*/
/*z-index: 5 !important;*/
/*}*/

/* dash */
#Cliente-View {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Cliente-Create {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Cliente-Update {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}


.cliente-form select{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.cliente-form input{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.cliente-form label{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.cliente-form button{
    width:10%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.cliente-create h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.cliente-index h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.cliente-view h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.cliente-update h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

/* filial */
#Filial-View {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Filial-Create {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Filial-Update {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}


.filial-form select{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.filial-form input{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.filial-form label{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.filial-form button{
    width:10%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.filial-create h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.filial-index h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.filial-update h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}


.filial-view h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

/* produto */

#Produto-View {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Produto-Create {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Produto-Update {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}



.produto-form select{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.produto-form input{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.produto-form label{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.produto-form button{
    width:10%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.produto-create h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.produto-index h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.produto-update h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}


.produto-view h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}
/* profissao */

#Profissao-View {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Profissao-Create {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Profissao-Update {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}


.profissao-form select{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissao-form input{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissao-form label{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissao-form button{
    width:10%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissao-create h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.profissao-index h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.profissao-update h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.profissao-view h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

/* profissional */

#Profissional-View {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Profissional-Create {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Profissional-Update {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}


.profissional-form select{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissional-form input{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissional-form label{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissional-form button{
    width:10%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.profissional-create h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.profissional-index h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.profissional-update h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}


.profissional-view h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

/* usuario */

#Usuario-View {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Usuario-Create {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

#Usuario-Update {
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.usuario-form select{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.usuario-form input{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.usuario-form label{
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.usuario-form button{
    width:10%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.usuario-create h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.usuario-index h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}

.usuario-update h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}



.usuario-view h1{
    margin-top: 10%;
    width:25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;

}


/* Required */

.help-block{
    margin-top: 10%;
    width:50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}



.conteudo{
    width:100%;

}


.navbar-header{
    width: 50%;
}

.navbar-brand{

    float: left;
    margin: 0;
}

.navbar-brand button{
    float: left;
    margin: 0;
}


.logo img{
    margin-top: 7px;

    margin-left: 5%;
    margin-right: 5%;

    float: left;
    z-index: 15;
}


/*links*/

#login{
    color:#bc9355;
    background:#000;
    border-color: #bc9355;
}

#login:hover{
    color:#fff;
    background:#bc9355;
    border-color: #bc9355;
}


#logout{
    color:#bc9355;
    background:#000;
    border-color: #bc9355;
}

#logout:hover{
    color:#fff;
    background:#bc9355;
    border-color: #bc9355;
}
#cadastro{
    color:#bc9355;
    background:#000;
    border-color: #bc9355;
}

#cadastro:hover{
    color:#fff;
    background:#bc9355;
    border-color: #bc9355;
}

#ferramentas{
    color:#bc9355;
    background:#000;
    border-color: #bc9355;
}

#ferramentas:hover{
    color:#fff;
    background:#bc9355;
    border-color: #bc9355;
}

#home{

    color:#bc9355;
    background:#000;
    border-color: #bc9355;
}

#home:hover{
    color:#fff;
    background:#bc9355;
    border-color: #bc9355;
}


/*fim links*/


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.notIE {
    position: relative;
    display: inline-block;
}
select {
    display: inline-block;
    height: 33px;
    width: 150px;
    outline: none;
    color: #bc9355;
    border: 1px solid #bc9355;
    border-radius: 0px;
    text-align: center;

    background:none !important;
}
/* Select arrow styling */

/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
    .notIE .fancyArrow {
        display: none;
    }
}



.mydialogclass{ z-index:100 !important; }

#timepicker, .timepicker {
    z-index: 1000 !important;
}

table{
    text-align:center;

}

table th{
    text-align:center;

}


/* calendar*/

.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
    background-color: black; /* background color */
    border-color: black;     /* border color */
    color: #bc9355;              /* text color */
}


.holiday,
.fc-agenda .holiday .fc-event-time,
.holiday a {
    background-color: green; /* background color */
    border-color: green;     /* border color */
    color: yellow;           /* text color */
}



.fc-day.fc-today {
    position: relative;
}

.fc-day.fc-today::before,
.fc-day.fc-today::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}   

.fc-day.fc-today::before {
    border-width: 1.5em;
}

.fc-day.fc-today::after {
    border-radius: 0;
    border-width: 1.5em;
    border-right-color: #bc9355;
    border-top-color: #bc9355;
}


a{
    font-family: "Moonshiner", Georgia, Serif;
}

p{
    font-family: "Moonshiner", Georgia, Serif;
}
h1{
    font-family: "Moonshiner", Georgia, Serif;
}
h2{
    font-family: "Moonshiner", Georgia, Serif;
}
h3{
    font-family: "Moonshiner", Georgia, Serif;
}
span{
    font-family: "Moonshiner", Georgia, Serif;
}

body{
    padding: 0;
}

.col-md-3{
    padding: 0;
}

.col-md-6{
    padding: 0;
}

.col-md-4{
    padding: 0;
}

.col-md-12{
    padding: 0;
}




.ui-datepicker{
    z-index: 100 ;
}

.row{
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 980px) {



    #navbar1 button{
        float: right;
        position: relative;
        top:1%;
        right: 0%;
    }
    navbar-header{
        width: 100%;
    }




    .navbar-header{
        width: 100%;
    }

    .navbar-brand{


        margin: 0;
    }

    .navbar-brand button{

        margin: 0;
    }

    .jumbotronindex h1{
        margin-left:1% !important;
        text-align: center;
        font-size: 2em  !important;
    }

    .jumbotronindex h2{
        margin-left:1% !important;
        text-align: center;
        font-size: 1em !important;
    }

    .jumbotronindex p{
        text-align: center;
        margin-left:30%;
        font-size: 1em  !important;
        width: 40%!important;
    }

    .jumbotronindex img{
        margin-left:35%;
        width: 30%;
        height: auto;
    }


}







/*fim calendar*/